body {
  margin: 0;
  padding: 0;

}

.react-calendar__month-view__days__day--weekend {
  /* color: #d10000; */
  color: #000;
}

// .react-calendar__month-view__days__day--weekend {
//   color: black;
// }

.react-calendar .free {
  background-color: lightgreen;
}

.react-calendar .partial {
  background-color: orange;
}

.react-calendar .full {
  background-color: red;
}

.MuiDialogActions-root {
  display: none;
}

#booking {
  background-color: #397bb7;
  padding: 20px;
  #booking-info {
    color: white
  }
}

#infos {
  padding: 30px;
}

#navbar {
  #title {
    text-align: center;
  }
  // img {
    //   @media (max-width: 767px) {
      //     display: none;
      //   }
      // }
    }
    
    #header {
  padding: 10px;
  padding-top: 40px;
  margin-bottom: 40px;
  h1 {
    font-size: 40px;
    padding: 0;
    margin: 0;
  }
  h2 {
    font-size: 30px;
    padding: 0;
    margin: 0;
  }
}

#grid-content {
  h3 {
    color: #1976d2  ;
  }
  img {
    max-width: 75px;
  }
}

#calendar {
  button {
    display: none;
  }
  // .PrivateDatePickerToolbar-penIcon {
  //   display: none;
  // }
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
